{% extends 'home.html' %}

{% block content %}
<h2>Zadania</h2>
<table class = "table table-striped table-hover table-bordered">
    {% for ac_model in tasks %}
        <tr>
            <td>
                {{ ac_model.id_number }}
            </td>
            <td>
                {{ ac_model.description }}
            </td>
            <td>
                {{ ac_model.model }}
            </td>
            <td>
                {{ ac_model.task_id }}
            </td>
        </tr>
    {% endfor %}
</table>

{% endblock %}